In [4]:
import sqlalchemy as db
from getpass import getpass as gp
import pandas as pd

In [6]:
password = gp('sowhatsup')

sowhatsup········

In [7]:
dbName = "lab-mysql-select"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [ ]:
engine = db.create_engine(connectionData)
print("Connection Succesful to Server through Engine")

# Challenge 1

## Step 1

In [24]:
df = pd.read_sql_query("""
SELECT 
    titleauthor.title_id,
    titleauthor.au_id,
    
    titles.price *
        sales.qty *
        titles.royalty/100 *
        titleauthor.royaltyper/100
            AS `SalesRoyalty`
    
FROM titleauthor

JOIN titles
    ON titleauthor.title_id=titles.title_id
JOIN sales
    ON titleauthor.title_id=sales.title_id

ORDER BY title_id
""", engine)
df

   title_id        au_id  SalesRoyalty
0    BU1032  213-46-8915         3.998
1    BU1032  213-46-8915         7.996
2    BU1032  409-56-7008         5.997
3    BU1032  409-56-7008        11.994
4    BU1111  267-41-2394        11.950
5    BU1111  724-80-9391        17.925
6    BU2075  213-46-8915        25.116
7    BU7832  274-80-9391        29.985
8    MC2222  712-45-1867        23.988
9    MC3021  899-46-2035         4.485
10   MC3021  899-46-2035         2.691
11   MC3021  722-51-5454        13.455
12   MC3021  722-51-5454         8.073
13   PC1035  238-95-7766       110.160
14   PC8888  427-17-2319        50.000
15   PC8888  846-92-7186        50.000
16   PS1372  724-80-9391        10.795
17   PS1372  756-30-7391        32.385
18   PS2091  899-46-2035         1.971
19   PS2091  899-46-2035        13.140
20   PS2091  998-72-3567         6.570
21   PS2091  899-46-2035        49.275
22   PS2091  998-72-3567         1.971
23   PS2091  998-72-3567        13.140
24   PS2091  998-72-3567        49.275
25   PS2091  899-46-2035         6.570
26   PS2106  998-72-3567        17.500
27   PS3333  172-32-1176        29.985
28   PS7777  486-29-1786        19.975
29   TC3218  807-91-6654        83.800
30   TC4203  648-92-1872        33.460
31   TC7777  267-41-2394         8.994
32   TC7777  472-27-2349         8.994
33   TC7777  672-71-3249        11.992

In [51]:
df = pd.read_sql_query("""
SELECT 
    titleauthor.title_id,
    titleauthor.au_id,
    

    #titles.title_id,
    
    sum(titles.price *
        sales.qty *
        titles.royalty/100 *
        titleauthor.royaltyper/100
        )  AS `SalesRoyalty`

    
    
FROM titleauthor

JOIN titles
    ON titleauthor.title_id=titles.title_id
JOIN sales
    ON titleauthor.title_id=sales.title_id
    

GROUP BY titleauthor.title_id, titleauthor.au_id

ORDER BY titleauthor.au_id
""", engine)
df

   title_id        au_id  SalesRoyalty
0    PS3333  172-32-1176        29.985
1    BU2075  213-46-8915        25.116
2    BU1032  213-46-8915        11.994
3    PC1035  238-95-7766       110.160
4    TC7777  267-41-2394         8.994
5    BU1111  267-41-2394        11.950
6    BU7832  274-80-9391        29.985
7    BU1032  409-56-7008        17.991
8    PC8888  427-17-2319        50.000
9    TC7777  472-27-2349         8.994
10   PS7777  486-29-1786        19.975
11   TC4203  648-92-1872        33.460
12   TC7777  672-71-3249        11.992
13   MC2222  712-45-1867        23.988
14   MC3021  722-51-5454        21.528
15   PS1372  724-80-9391        10.795
16   BU1111  724-80-9391        17.925
17   PS1372  756-30-7391        32.385
18   TC3218  807-91-6654        83.800
19   PC8888  846-92-7186        50.000
20   PS2091  899-46-2035        70.956
21   MC3021  899-46-2035         7.176
22   PS2091  998-72-3567        70.956
23   PS2106  998-72-3567        17.500

## Step 2

In [50]:
df = pd.read_sql_query("""
SELECT 
  #  titleauthor.title_id,
  
    titleauthor.au_id,
    
    titles.title_id,
    sum(titles.price *
        sales.qty *
        titles.royalty/100 *
        titleauthor.royaltyper/100
        )  AS `SalesRoyalty`

    
FROM titleauthor

JOIN titles
    ON titleauthor.title_id=titles.title_id
JOIN sales
    ON titleauthor.title_id=sales.title_id
    

GROUP BY titles.title_id, titleauthor.au_id

ORDER BY titles.title_id
""", engine)
df

          au_id title_id  SalesRoyalty
0   213-46-8915   BU1032        11.994
1   409-56-7008   BU1032        17.991
2   267-41-2394   BU1111        11.950
3   724-80-9391   BU1111        17.925
4   213-46-8915   BU2075        25.116
5   274-80-9391   BU7832        29.985
6   712-45-1867   MC2222        23.988
7   722-51-5454   MC3021        21.528
8   899-46-2035   MC3021         7.176
9   238-95-7766   PC1035       110.160
10  427-17-2319   PC8888        50.000
11  846-92-7186   PC8888        50.000
12  724-80-9391   PS1372        10.795
13  756-30-7391   PS1372        32.385
14  899-46-2035   PS2091        70.956
15  998-72-3567   PS2091        70.956
16  998-72-3567   PS2106        17.500
17  172-32-1176   PS3333        29.985
18  486-29-1786   PS7777        19.975
19  807-91-6654   TC3218        83.800
20  648-92-1872   TC4203        33.460
21  267-41-2394   TC7777         8.994
22  472-27-2349   TC7777         8.994
23  672-71-3249   TC7777        11.992

# Step 3

In [53]:
df = pd.read_sql_query("""
SELECT 
  #  titleauthor.title_id,
  #  titleauthor.au_id,
    
    titles.title_id,
    sum(titles.price *
        sales.qty *
        titles.royalty/100 *
        titleauthor.royaltyper/100
        )  AS `SalesRoyalty`,
    
    titles.advance,
    
    `SalesRoyalty` + titles.advance
    
FROM titleauthor

JOIN titles
    ON titleauthor.title_id=titles.title_id
JOIN sales
    ON titleauthor.title_id=sales.title_id
    

GROUP BY titles.title_id

ORDER BY titles.title_id
""", engine)
df

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'SalesRoyalty' in 'field list'")
[SQL:
SELECT
  #  titleauthor.title_id,
  #  titleauthor.au_id,

    titles.title_id,
    sum(titles.price *
        sales.qty *
        titles.royalty/100 *
        titleauthor.royaltyper/100
        )  AS `SalesRoyalty`,

    titles.advance,

    `SalesRoyalty` + titles.advance

FROM titleauthor

JOIN titles
    ON titleauthor.title_id=titles.title_id
JOIN sales
    ON titleauthor.title_id=sales.title_id


GROUP BY titles.title_id

ORDER BY titles.title_id
]
(Background on this error at: http://sqlalche.me/e/2j85)

In [58]:
#  CREATING TEMP TABLE HERE

df = pd.read_sql_query("""
CREATE TEMPORARY TABLE `SRT`(
    SELECT 
      #  titleauthor.title_id,
      #  titleauthor.au_id,

        titles.title_id,
        sum(titles.price *
            sales.qty *
            titles.royalty/100 *
            titleauthor.royaltyper/100
            )  AS `SalesRoyalty`,

        titles.advance

       # `SalesRoyalty` + titles.advance

    FROM titleauthor

    JOIN titles
        ON titleauthor.title_id=titles.title_id
    JOIN sales
        ON titleauthor.title_id=sales.title_id


    GROUP BY titles.title_id

    ORDER BY titles.title_id
    )
""", engine)
df

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [67]:
#  ACCESSING TEMP TABLE

df = pd.read_sql_query("""
    SELECT 
      /*  titleauthor.title_id,
        titleauthor.au_id,

        titles.title_id,
        sum(titles.price *
            sales.qty *
            titles.royalty/100 *
            titleauthor.royaltyper/100
            )  AS `SalesRoyalty`,

        titles.advance,
*/

        `SalesRoyalty` #+ titles.advance

    FROM `SRT`
/*
    JOIN titles
        ON titleauthor.title_id=titles.title_id
    JOIN sales
        ON titleauthor.title_id=sales.title_id


    GROUP BY titles.title_id

    ORDER BY titles.title_id
*/  
""", engine)
df

    SalesRoyalty
0         29.985
1         29.875
2         25.116
3         29.985
4         23.988
5         28.704
6        110.160
7        100.000
8         43.180
9        141.912
10        17.500
11        29.985
12        19.975
13        83.800
14        33.460
15        29.980